<div class="wrapper">
    <h3 class='wrapper padding-top-30'>Write an article.</h3>
    <form class='wrapper padding-top-30'>
        <input type="text" name="title" placeholder="Article Title" size='50' #newtitle><br><br>

        <input type="text" name="author" placeholder="Article Author" size='50' #newauthor><br><br>

        <textarea name="content" placeholder='Article Content' rows="4" cols="80" #newtext></textarea><br>

        <button type="button" (click)='addArticle(newtitle, newauthor, newtext)'>Submit article</button>
    </form>
</div>
