.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  color: #666;
  font-family: "Raleway", sans-serif;
}

body {
    margin: 0 auto;
}

ul {
  list-style: none;
}

li {
  margin-right: 30px;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #50BCB6;
  font-weight: 700;
  border-bottom: 3px solid #50BCB6;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.fa-bars {
  color: #666;
}

.fa-angle-down {
  color: #D23544;
  display: inline-block;
}

.title h3 {
  display: inline-block;
  color: #666;
}

.full-nav {
  width: 100%;
  border-bottom: 1px solid #666;
  background: #fff;
}

.active-nav {
  color: #50BCB6;
  font-weight: 700;
  border-bottom: 3px solid #50BCB6;
}

.content {
  background-color: #F2F2F2;
  height: 100%;
  min-height: 1300px;
}

.card-list {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards {
  width: 360px;
  background-color: #fff;
  margin: 10px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.cards img {
  width: 360px;
  height: 175px;
}

.cards p {
  display: inline-block;
  padding: 15px;
}

.cards h3 {
  color: black;
  font-weight: 900;
  padding: 0 15px 15px 15px;
  margin-top: -15px;
}

.cards .save:hover {
  color: #D23544;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 90px;
  background-color: #fff;
}

footer .black {
  color: #161616;
}

.footer-text {
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 250px;
  margin-top: 25px;
}

.footer-text a:hover {
  border: none;
  color: #50BCB6;
}


/* Utility classes */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.margin-10 {
    margin: 10px;
}

.padding-10 {
    padding: 10px;
}

.flex-between {
    justify-content: space-between;
}

.padding-top-20px {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-padding {
    padding: 0;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-m-30 {
    margin-top: -30px;
}

.position-relative {
    position: relative;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.flex-center {
    justify-content: center;
}

.padding-left-5 {
    padding-left: 5px;
}
